@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-screen {
      height : calc(100dvh);
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme(colors.gray.2);
  border: 1px solid theme(colors.gray.4);
  border-radius : 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme(colors.gray.6);
  border-radius : 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme(colors.gray.7);
}


.noise {
  background-image: linear-gradient(to bottom right, var(--tw-gradient-stops)) , url(../assets/images/noise.svg);
}

.cm-theme {
    height : 100%;
}
